.row{
	&__gutter{
		margin-right: -65px;
	}
	
	&__gutter > div{
		padding-right: 65px;
	}
	
	@mixin clearfix;
	
	@mixin atMedium{
		&__medium-4{
			float: left;
			width: 33.33%;
			
			&_larger{
				width: 37%;
			}
		}
		
		&__medium-8{
			float: left;
			width: 66.66%;
			
			&_smaller{
				width: 63%;
			}
		}
	}
}
